<div class="sixteen content">
  <h3>About us:</h3>
  <p>gShuffle is a simple web application that was created out of curiosity and passion for music, photography and programing, around  June 15th 2012. I built gShuffle because I really love  discovering new music and deeply believe that there is a tone of great music that just waits for someone to discovers it. When in the mood for music, you usually know what musicians or tracks you want to listen to, but what if you run out of ideas or get bored of the same music? This is where gShuffle does its magic. Type what you want to listen to and we will give you a mix of some non mainstream but great musicians. Enjoy great music and maybe you will find some new star, who knows. Just try and you will fall in love with this approach of discovering new and fresh music. Of course if your mix is over, refresh the page and we will get a new mix for you ;)</p>

  <p>On the technical side, gShuffle was built on top of ruby and <a href="http://heroku.com">heroku</a>, with help of <a href="http://soundcloud.com">soundcloud</a> and <a href="http://flickr.com">flickr</a> api. Soundcloud platform is just great, they have a lot of great music and great musicians. Of course great music goes with great pictures and that is where flickr jumps in with its great collection. In gShuffle we connected those two things, you can see the results. If you have ANY feedback, please shoot an e-mail to rastasheep@gmail.com.</p>

  <p>Oh, by the way, my name is Aleksandar Diklić, the founder, designer, developer and owner of gShuffle. If you need anything at all, or just wanna say "hi!", you can find me on twitter: <a href="http://twitter.com/lesa_ns">@lesa_ns</a>.</p>
</div>
