<div class="sixteen content">
  <h3>About us:</h3>
  <p>gShuffle is an simple web application that was created out of curiosity and passion to music photography and programing, around  June 15th 2012. I built gShuffle because I really love to discover new music and deeply believe that there is a tone of great music that just wait to someone discover it. When you want to listen music you basically know what genre want to listen, and some of musicians or tracks, but when your run out of ideas you only know genre, and there goes gShuffle. Type what you want to listen and we will give you a mix of some non mainstream but great musicians, enjoy great music and maybe you will find some new star, who knows. Just try and you will fall in love with this approach of discovering music. Of-course if your mix is over, refresh page and we will get new mix for you ;)</p>

  <p>On technical side, gShuffle was built on top of ruby and <a href="http://heroku.com">heroku</a>, with help of <a href="http://soundcloud.com">soudcloud</a> and <a href="http://flickr.com">flickr</a> api. Soundcloud platform is just great, they have a lot of great music and great musicians. On the other side flickr have a great collection of pictures, of-course great music goes with great pictures, here at gShuffle we we connected that two things, result now you can see now. If you have ANY feedback, please shoot an e-mail to rastasheep@gmail.com.</p>

  <p>Oh, by the way, my name is Aleksandar Diklić, the founder, designer, developer and owner of gShuffle. If you need anything at all, or just wanna say "hi!", you can find me on twitter: <a href="http://twitter.com/lesa_ns">@lesa_ns</a>.</p>
</div>
