<div class="sixteen content">
  <h3>List of generes:</h3>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/alternative'>alternative</a></div>
      <div class="four"><a href='/indie'>indie</a></div>
      <div class="four"><a href='/electronic'>electronic</a></div>
      <div class="four omega"><a href='/pop'>pop</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/metal'>metal</a></div>
      <div class="four"><a href='/classic%20rock'>classic rock</a></div>
      <div class="four"><a href='/alternative%20rock'>alternative rock</a></div>
      <div class="four omega"><a href='/jazz'>jazz</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/punk'>punk</a></div>
      <div class="four"><a href='/indie%20rock'>indie rock</a></div>
      <div class="four"><a href='/folk'>folk</a></div>
      <div class="four omega"><a href='/ambient'>ambient</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/lo-fi'>lo-fi</a></div>
      <div class="four"><a href='/experimental'>experimental</a></div>
      <div class="four"><a href='/electronica'>electronica</a></div>
      <div class="four omega"><a href='/hard%20rock'>hard rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/hip-hop'>hip-hop</a></div>
      <div class="four"><a href='/80s'>80s</a></div>
      <div class="four"><a href='/dance'>dance</a></div>
      <div class="four omega"><a href='/hardcore'>hardcore</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/black%20metal'>black metal</a></div>
      <div class="four"><a href='/chillout'>chillout</a></div>
      <div class="four"><a href='/progressive%20rock'>progressive rock</a></div>
      <div class="four omega"><a href='/death%20metal'>death metal</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/instrumental'>instrumental</a></div>
      <div class="four"><a href='/heavy%20metal'>heavy metal</a></div>
      <div class="four"><a href='/british'>british</a></div>
      <div class="four omega"><a href='/punk%20rock'>punk rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/soundtrack'>soundtrack</a></div>
      <div class="four"><a href='/industrial'>industrial</a></div>
      <div class="four"><a href='/soul'>soul</a></div>
      <div class="four omega"><a href='/blues'>blues</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/classical'>classical</a></div>
      <div class="four"><a href='/emo'>emo</a></div>
      <div class="four"><a href='/rap'>rap</a></div>
      <div class="four omega"><a href='/90s'>90s</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/thrash%20metal'>thrash metal</a></div>
      <div class="four"><a href='/metalcore'>metalcore</a></div>
      <div class="four"><a href='/trance'>trance</a></div>
      <div class="four omega"><a href='/japanese'>japanese</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/reggae'>reggae</a></div>
      <div class="four"><a href='/acoustic'>acoustic</a></div>
      <div class="four"><a href='/country'>country</a></div>
      <div class="four omega"><a href='/progressive%20metal'>progressive metal</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/trip-hop'>trip-hop</a></div>
      <div class="four"><a href='/hip%20hop'>hip hop</a></div>
      <div class="four"><a href='/power%20metal'>power metal</a></div>
      <div class="four omega"><a href='/funk'>funk</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/psychedelic'>psychedelic</a></div>
      <div class="four"><a href='/melodic%20death%20metal'>melodic death metal</a></div>
      <div class="four"><a href='/new%20wave'>new wave</a></div>
      <div class="four omega"><a href='/post-rock'>post-rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/electro'>electro</a></div>
      <div class="four"><a href='/house'>house</a></div>
      <div class="four"><a href='/indie%20pop'>indie pop</a></div>
      <div class="four omega"><a href='/techno'>techno</a>
  </div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/70s'>70s</a></div>
      <div class="four"><a href='/rnb'>rnb</a></div>
      <div class="four"><a href='/britpop'>britpop</a></div>
      <div class="four omega"><a href='/american'>american</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/gothic%20metal'>gothic metal</a></div>
      <div class="four"><a href='/downtempo'>downtempo</a></div>
      <div class="four"><a href='/piano'>piano</a></div>
      <div class="four omega"><a href='/60s'>60s</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/00s'>00s</a></div>
      <div class="four"><a href='/grunge'>grunge</a></div>
      <div class="four"><a href='/post-punk'>post-punk</a></div>
      <div class="four omega"><a href='/beautiful'>beautiful</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/ska'>ska</a></div>
      <div class="four"><a href='/gothic'>gothic</a></div>
      <div class="four"><a href='/screamo'>screamo</a></div>
      <div class="four omega"><a href='/mellow'>mellow</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/chill'>chill</a></div>
      <div class="four"><a href='/french'>french</a></div>
      <div class="four"><a href='/guitar'>guitar</a></div>
      <div class="four omega"><a href='/oldies'>oldies</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/idm'>idm</a></div>
      <div class="four"><a href='/swedish'>swedish</a></div>
      <div class="four"><a href='/male%20vocalists'>male vocalists</a></div>
      <div class="four omega"><a href='/j-rock'>j-rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/nu%20metal'>nu metal</a></div>
      <div class="four"><a href='/symphonic%20metal'>symphonic metal</a></div>
      <div class="four"><a href='/finnish'>finnish</a></div>
      <div class="four omega"><a href='/lounge'>lounge</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/polish'>polish</a></div>
      <div class="four"><a href='/female%20vocalist'>female vocalist</a></div>
      <div class="four"><a href='/grindcore'>grindcore</a></div>
      <div class="four omega"><a href='/progressive'>progressive</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/folk%20metal'>folk metal</a></div>
      <div class="four"><a href='/canadian'>canadian</a></div>
      <div class="four"><a href='/post-hardcore'>post-hardcore</a></div>
      <div class="four omega"><a href='/world'>world</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/drum%20and%20bass'>drum and bass</a></div>
      <div class="four"><a href='/synthpop'>synthpop</a></div>
      <div class="four"><a href='/j-pop'>j-pop</a></div>
      <div class="four omega"><a href='/new%20age'>new age</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/minimal'>minimal</a></div>
      <div class="four"><a href='/favourites'>favourites</a></div>
      <div class="four"><a href='/ebm'>ebm</a></div>
      <div class="four omega"><a href='/russian'>russian</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/pop%20rock'>pop rock</a></div>
      <div class="four"><a href='/pop%20punk'>pop punk</a></div>
      <div class="four"><a href='/latin'>latin</a></div>
      <div class="four omega"><a href='/darkwave'>darkwave</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/dark%20ambient'>dark ambient</a></div>
      <div class="four"><a href='/noise'>noise</a></div>
      <div class="four"><a href='/industrial%20metal'>industrial metal</a></div>
      <div class="four omega"><a href='/avant-garde'>avant-garde</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/psychedelic%20rock'>psychedelic rock</a></div>
      <div class="four"><a href='/dub'>dub</a></div>
      <div class="four"><a href='/disco'>disco</a></div>
      <div class="four omega"><a href='/gothic%20rock'>gothic rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/celtic'>celtic</a></div>
      <div class="four"><a href='/easy%20listening'>easy listening</a></div>
      <div class="four"><a href='/alternative%20metal'>alternative metal</a></div>
      <div class="four omega"><a href='/christian'>christian</a>
  </div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/blues%20rock'>blues rock</a></div>
      <div class="four"><a href='/classic'>classic</a></div>
      <div class="four"><a href='/shoegaze'>shoegaze</a></div>
      <div class="four omega"><a href='/folk%20rock'>folk rock</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/comedy'>comedy</a></div>
      <div class="four"><a href='/psytrance'>psytrance</a></div>
      <div class="four"><a href='/sad'>sad</a></div>
      <div class="four omega"><a href='/atmospheric'>atmospheric</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/deathcore'>deathcore</a></div>
      <div class="four"><a href='/jpop'>jpop</a></div>
      <div class="four"><a href='/deutsch'>deutsch</a></div>
      <div class="four omega"><a href='/romantic'>romantic</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/viking%20metal'>viking metal</a></div>
      <div class="four"><a href='/fusion'>fusion</a></div>
      <div class="four"><a href='/irish'>irish</a></div>
      <div class="four omega"><a href='/uk'>uk</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/relax'>relax</a></div>
      <div class="four"><a href='/spanish'>spanish</a></div>
      <div class="four"><a href='/hardcore%20punk'>hardcore punk</a></div>
      <div class="four omega"><a href='/hardcore%20punk'>hardcore punk</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/hardcore%20punk'>hardcore punk</a></div>
      <div class="four"><a href='/acid%20jazz'>acid jazz</a></div>
      <div class="four"><a href='/relaxing'>relaxing</a></div>
      <div class="four omega"><a href='/alt-country'>alt-country</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/synth%20pop'>synth pop</a></div>
      <div class="four"><a href='/jrock'>jrock</a></div>
      <div class="four"><a href='/post%20rock'>post rock</a></div>
      <div class="four omega"><a href='/vocal'>vocal</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/soft%20rock'>soft rock</a></div>
      <div class="four"><a href='/party'>party</a></div>
      <div class="four"><a href='/brazilian'>brazilian</a></div>
      <div class="four omega"><a href='/australian'>australian</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/baroque'>baroque</a></div>
      <div class="four"><a href='/emocore'>emocore</a></div>
      <div class="four"><a href='/dark'>dark</a></div>
      <div class="four omega"><a href='/swing'>swing</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/live'>live</a></div>
      <div class="four"><a href='/goth'>goth</a></div>
      <div class="four"><a href='/garage%20rock'>garage rock</a></div>
      <div class="four omega"><a href='/italian'>italian</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/remix'>remix</a></div>
      <div class="four"><a href='/electropop'>electropop</a></div>
      <div class="four"><a href='/female%20vocals'>female vocals</a></div>
      <div class="four omega"><a href='/club'>club</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/brasil'>brasil</a></div>
      <div class="four"><a href='/neofolk'>neofolk</a></div>
      <div class="four"><a href='/nu-metal'>nu-metal</a></div>
      <div class="four omega"><a href='/rhythm%20and%20blues'>rhythm and blues</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/trip%20hop'>trip hop</a></div>
      <div class="four"><a href='/rock%20n%20roll'>rock n roll</a></div>
      <div class="four"><a href='/bossa%20nova'>bossa nova</a></div>
      <div class="four omega"><a href='/funky'>funky</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/christian%20rock'>christian rock</a></div>
      <div class="four"><a href='/minimal%20techno'>minimal techno</a></div>
      <div class="four"><a href='/dreamy'>dreamy</a></div>
      <div class="four omega"><a href='/vocal%20trance'>vocal trance</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/dubstep'>dubstep</a></div>
      <div class="four"><a href='/rapcore'>rapcore</a></div>
      <div class="four"><a href='/breakbeat'>breakbeat</a></div>
      <div class="four omega"><a href='/dnb'>dnb</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/smooth%20jazz'>smooth jazz</a></div>
      <div class="four"><a href='/drone'>drone</a></div>
      <div class="four"><a href='/world%20music'>world music</a></div>
      <div class="four omega"><a href='/rock%20and%20roll'>rock and roll</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/dancehall'>dancehall</a></div>
      <div class="four"><a href='/industrial%20rock'>industrial rock</a></div>
      <div class="four"><a href='/russian%20rock'>russian rock</a></div>
      <div class="four omega"><a href='/progressive%20trance'>progressive trance</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/medieval'>medieval</a></div>
      <div class="four"><a href='/southern%20rock'>southern rock</a></div>
      <div class="four"><a href='/ska%20punk'>ska punk</a></div>
      <div class="four omega"><a href='/underground%20hip-hop'>underground hip-hop</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/psychobilly'>psychobilly</a></div>
      <div class="four"><a href='/dark%20electro'>dark electro</a></div>
      <div class="four"><a href='/drum%20n%20bass'>drum n bass</a></div>
      <div class="four omega"><a href='/thrash'>thrash</a></div>
    </div>
  </div>
  <div class="sixteen">
    <div class="row">
      <div class="four alpha"><a href='/english'>english</a></div>
      <div class="four"><a href='/nu%20jazz'>nu jazz</a></div>
      <div class="four"><a href='/summer'>summer</a></div>
      <div class="four omega"><a href='/breakcore'>breakcore</a></div>
    </div>
  </div>
  <h4>P.S. if your stuff isn't here, type it in search field and enjoy ;)</h4>
</div>