<div class="sixteen content">
	<h3>Your <%= query %> mix is ready :)</h3>
	<div class="player">
		<img src='<%=img %>' alt="">
		<div class="controls">
			<div class="sc-player">
			  <a href="http://soundcloud.com/matas/hobnotropic">My dub track</a>
			  <a href="http://soundcloud.com/van-rivers/lykke-li-im-good-im-gone-van-rivers-the-subliminal-kid-remix">Lykke Li remix</a>
			  <a href="http://soundcloud.com/max-richter/wwb-the-haunted-ocean-1">Max Richter: The Haunted Ocean 1</a>
			</div>	
		</div>
	</div>
	<div>
		<h5>Heard in this mix:</h5>
				<ul>
					<li><a href="http://soundcloud.com/matas/hobnotropic">My dub track</a>
					<li><a href="http://soundcloud.com/van-rivers/lykke-li-im-good-im-gone-van-rivers-the-subliminal-kid-remix">Lykke Li remix</a>
					<li><a href="http://soundcloud.com/max-richter/wwb-the-haunted-ocean-1">Max Richter: The Haunted Ocean 1</a>
				</ul>
	</div>
</div>
