<div class="sixteen content">
	<h3>Your <%= query %> mix is ready :)</h3>
	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fde64687da8f688"></script>
<!-- AddThis Button END -->
	<div class="player">
		<img src='<%=img %>' alt="">
		<div class="controls">
			<div class="sc-player">
			  <a href="http://soundcloud.com/magnetic-man/i-need-air">Magnetic Man - I need air</a>
			  <a href="http://soundcloud.com/fosterthepeoplemusic/houdini">Foster The People - Houdini</a>
			  <a href="http://soundcloud.com/m83/midnight-city">M83 - Midnight City</a>
			  <a href="http://soundcloud.com/oysterpearls/play-by-iamamiwhoami">Iamamiwhoami - Play</a>
			  <a href="http://soundcloud.com/charlie-reese/soft-j-hard-g">soft j, hard g</a>
			</div>	
		</div>
	</div>
	<div>
		<h3>Heard in this mix:</h3>
				<ul>
					<li><a href="http://soundcloud.com/magnetic-man/i-need-air">Magnetic Man - I need air</a>
			  	<li><a href="http://soundcloud.com/fosterthepeoplemusic/houdini">Foster The People - Houdini</a>
			  	<li><a href="http://soundcloud.com/m83/midnight-city">M83 - Midnight City</a>
			  	<li><a href="http://soundcloud.com/oysterpearls/play-by-iamamiwhoami">Iamamiwhoami - Play</a>
			  	<li><a href="http://soundcloud.com/charlie-reese/soft-j-hard-g">soft j, hard g</a>
				</ul>
	</div>
</div>
