<div class="sixteen content">
	<h3>Your <%= query %> mix is ready :)</h3>
	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fde64687da8f688"></script>
<!-- AddThis Button END -->
	<div class="player">
		<img src='<%=img %>' alt="">
		<div class="controls">
			<div class="sc-player">
			  <a href="http://soundcloud.com/matas/hobnotropic">My dub track</a>
			  <a href="http://soundcloud.com/van-rivers/lykke-li-im-good-im-gone-van-rivers-the-subliminal-kid-remix">Lykke Li remix</a>
			  <a href="http://soundcloud.com/max-richter/wwb-the-haunted-ocean-1">Max Richter: The Haunted Ocean 1</a>
			</div>	
		</div>
	</div>
	<div>
		<h5>Heard in this mix:</h5>
				<ul>
					<li><a href="http://soundcloud.com/matas/hobnotropic">My dub track</a>
					<li><a href="http://soundcloud.com/van-rivers/lykke-li-im-good-im-gone-van-rivers-the-subliminal-kid-remix">Lykke Li remix</a>
					<li><a href="http://soundcloud.com/max-richter/wwb-the-haunted-ocean-1">Max Richter: The Haunted Ocean 1</a>
				</ul>
	</div>
</div>
