.sc-player{
  width: 100%;
  height: 60px;
  position: relative;
  margin: 20px 0;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}


/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.sc-player .sc-controls a{
  display: block;
  width: 75px;
  height: 75px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */


/*some gray shit #!*/
.sc-scrubber {
display: none;
}

.sc-player:hover .sc-scrubber, .sc-player.playing .sc-scrubber {
  display: block;
  left: 45px;
}

.sc-scrubber .sc-time-span{
  height: 30px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 30px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.1s linear;
}

.sc-scrubber .sc-time-indicators, .sc-time-span{
display: none;
}

/* tracks */
/* Track listings*/

/*track list #!*/
.sc-player ol.sc-trackslist{
position: relative;
top: 100px;
left: -45%;
padding: 10px;
background-color: #333;
opacity: 0.5;
padding: 10px;
border-radius: 5px;
-webkit-border-radius: 5px;
height: 200px;
width: 100%;
overflow: auto;
overflow-x: hidden;
}

.sc-player ol.sc-trackslist:hover {
  opacity: 1;
}
/*i dont need this #!*/
.sc-player ol.sc-trackslist li{
padding-bottom: 20px;
}


/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 200px;
  padding: 5px;
  height: 450px;
  z-index: 500;
  margin-left: -40px;
}

.sc-player .sc-info.active{
  left: 25%;
  top: 5%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
.sc-player {
  font: 12px Arial, sans-serif;
  color: #333;
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: bold;
  
}

.sc-player.special {
  border: 2px solid #ff3300;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px;
}

.sc-player a {
  text-decoration: none;
  color: #FFF;
}

/* scrubber */

.sc-scrubber {
  background-color: #e5e5e5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 30px;
  width: 100%;
  background-color: #000;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #000;
  opacity: 0.4;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('/images/sprite.png') no-repeat -153px 0;
  width: 75px;
  height: 75px;
}

.sc-player .sc-controls a:hover {
  background: url('/images/sprite.png') no-repeat -230px 0;
  width: 75px;
  height: 75px;
}

.sc-player .sc-controls a.sc-pause {
  background: url('/images/sprite.png') no-repeat -153px 0;
  width: 75px;
  height: 75px;
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('/images/sprite.png') no-repeat -230px 0;
  width: 75px;
  height: 75px;
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('/images/sprite.png') no-repeat 0 0;
  width: 75px;
  height: 75px;
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('/images/sprite.png') no-repeat -76px 0;
  width: 75px;
  height: 75px;
}  

.sc-scrubber .sc-time-indicators{
  background: #fff;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px;
  font-size: 0.4em;
  font-weight: normal;
  line-height: 1em;
}

/* Track listings*/

/* active song number, hover number #!*/
.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
  color: #F60;
}

/*active song #! */
.sc-player ol.sc-trackslist li.active a {
  color: #F60;
}

.sc-track-duration {
  display: none;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #fff;
  color: #003399;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #003399;
  color: #eee;
}

.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 4px;
  font-weight: bold;
}