@import "base";
@import "skeleton";
@import "sc-player";

.container{@include container; @include clearfix;}
.sixteen{@include columns(16);}
.four{@include columns(4);}
.row{@include row();}
.alpha{@include alpha();}
.omega{@include omega();}

$orange: #F60;

.transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

body{background-image: url("/images/background.png");}

.title, input.search {
	display: inline-block;
	margin-top: 40px
}

footer{
	text-align: center;
	padding-bottom:50px;
	a{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter:alpha(opacity=5);
	}
	a:hover{
		@extend .transition;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
	.soundcloud{
		background: url('/images/sprite.png') no-repeat -307px -19px;
		width: 59px;
		height: 36px;
		display: inline-block;
		}
}
.content{
	text-align: center;
	padding-bottom:20px;
	h3 {
		padding-top:20px;
	}
	p {
		text-align: justify;
	}
}
h1 a, h1 a:hover{
	@extend .transition;
	text-decoration:none;
}
.toolbar{
	position: fixed;
	top: 27%;
	left: 0;
	padding: 5px;
	background-color: $orange;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 0.5;
	z-index: 1;
	@extend .transition;
	a{
		color: #333;
	}
}
.toolbar:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.player{
	position:relative;
	padding-top: 20px;
}
.controls{
	position:absolute;
	left:435px;
	top:25%;
}
.orange{
	color: $orange;
}
.addthis_toolbox {
	display: inline-block;
}
#trck{
	display: none;
}